.cards {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    padding: 5px 100px 5px 100px;

    color: black;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 1000px;
    gap: 30px;
}

.card {
    width: 300px;
    height: 250px;
    transition-duration: 0.2s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.card:hover {
    scale: 1.1;
}