.employees {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    gap: 10px;
    align-items: center;
    // border: 1px solid black;

    text-align: center;
}

.employees-profile-img {
    width: 100px;
    height: 100px;
    border-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;

    img {
        object-fit: cover;
        width: 100%;
        height:150%;
    }
}

.employees-name {
    font-size: 17px;
    font-weight: 600;
}

.employees-position {
    font-size: 13px;
    font-weight: 400;
}

.employees-contact {

    ul {
        display: flex;
        gap: 50px;

        li {

            a {
                position: relative;
                display: flex;
                width: 20px;
                height: 20px;
                transition-duration: 0.2s;
            }

            a:hover {
                scale: 1.1;
            }

            .vk-link {
                background: url('../../../svgs/vk-logo-of-social-network\ 1.svg') 0 0/100% 100% no-repeat;
            }
            .instagram-link {
                background: url('../../../svgs/instagram\ 1.svg') 0 0/100% 100% no-repeat;
            }
        }

        img {
            width: 15px;
        }
    }
}